extends layout

block content
  h1= title
  if(body != null)
    p= body
  else
    each calendar in calendars
      a(href="/calendars/#{calendarIds[calendar.id]}/events?accessToken=#{token}") view events
      p(style='white-space:pre;')= JSON.stringify(calendar, null, 2)

